* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 1rem 1rem;
    width: 100%;
    height: 100%;
    background-color: #F9F7F7;
}

.edit__container {
    background-color: #DBE2EF;
    height: 96.7vh;
    width: 100%;
    opacity: 90%;
    padding: 3rem 1.5rem;
    border-radius: 8px;
    border: 1px solid rgba(63, 114, 175, .3);
    line-height: 50px;
}

.edit__container2 {
    @extend .edit__container;
    height: 36.7vh;

    h1 {
        font-weight: 700;
        color: #112D4E;
        margin-bottom: 0.5rem;
    }
}

#edit__button {
    background-color: #112D4E;
    color: #F9F7F7;
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    border: 1px solid #112D4E;
    cursor: pointer;
    margin-top: 10rem;
    margin-right: 1rem;

    &:hover {
        background-color: #F9F7F7;
        color: #112D4E;
        transition: all 0.3s ease;
        border: 1px solid #112D4E;
    }
}

#back__button {
    @extend #edit__button;
}


.info__container {
    @extend .edit__container;
}

#save__button  {
    @extend #edit__button;
}

#discard__button {
    @extend #edit__button;
}

#create__button {
    @extend #edit__button;
    margin-top: 3rem;
}

.form__text {
    width: 400px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffffe1;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 2px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.form__text:focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    transition: all 0.3s ease;
}