@use 'sass:color';

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
}

.website__container {
    width: 100%;
    height: 100%;
}


.logo {
    position: absolute;
    padding: 1.5rem 2rem;
    
    i {
        margin-right: 5px;
    }

    a {
        background-color: #DBE2EF;
        background-image: linear-gradient(to top, #112D4E 100%, #112D4E 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
        display: flex;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        font-weight: 700;
    }
}

.login__form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    padding: 2rem 2rem;
    background-color: #f9f7f7;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 1px 1px 1px 1px color.adjust($color: black, $lightness: 78%);
}

.login__form--wrapper {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form__text {
    width: 400px;
    padding: 5px 12px;
    font-size: 14px;
    line-height: 20px;
    color: #24292e;
    vertical-align: middle;
    background-color: #ffffffe1;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 2px solid #e1e4e8;
    border-radius: 6px;
    outline: none;
    box-shadow: rgba(225, 228, 232, 0.2) 0px 1px 0px 0px inset;
}

.form__text:focus{
    border-color: #0366d6;
    outline: none;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    transition: all 0.3s ease;
}

.form__date:after, .form__date::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.login__form--submit {
    width: auto;
    height: auto;
    background-color: #112D4E;
    color: #f9f7f7;
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid #112D4E;
    margin-right: 0.5rem;
}

.login__form--submit:hover {
    background-color: #f9f7f7;
    color: #112d4E;
    transition: all 0.3s ease;
}

.form__submit {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    p {
        padding-left: 2.7rem;
        color: gray;
        top: 50%;
        left: 0%;
        transform: translate(0%, 30%);
    }

    a {
        text-decoration: none;
        color: #0366d6;
    }

    a:hover {
        color: #112D4E;
        transition: all 0.3s ease;
    }
}


.radiobutton__wrapper {
    position: absolute;
    top: 32.25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.radiobutton__role {
    .role__buttons {
        display: flex;
    }
    .rad-btn {
        display: none;
    }

    .user, .doctor {
        background-color: #f9f7f7;
        width: 233px;
        padding: 0.5rem 1rem 0.7rem;
        cursor: pointer;
        border: 1px solid rgba($color: #000000, $alpha: 0.3);
        border-radius: 0;
        text-align: center;
      }
    
      .user {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 0;
        border-right: 0;
      }
    
      .doctor {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 0;
        border-left: 0;
      }

    .rad-btn:checked+.user, .rad-btn:checked+.doctor {
        background-color: #112D4E;
        color: #f9f7f7;
        transition: all 0.5s ease;
    }

    .rad-btn:checked+.user {
        border-right: 1px solid black;
        transition: all 0.5s ease;
    }

    .rad-btn:checked+.doctor {
        border-left: 1px solid black;
        transition: all 0.5s ease;
    }
}