* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background: #3F72AF;    
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #DBE2EF;
    background-image: linear-gradient(to top, #f9f7f7 0%, #dbe2ef 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
}

.fa-solid {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1.4rem;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 10px;
    background: #112D4E;
    color: #fff;
}

.button:hover {
    background: #3F72AF;
    color: #fff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #112D4E;
    transition: all 0.3s ease;
}

// Body Section
.main {
    background-color: #f9f7f7;
    padding-bottom: 5rem;
    margin-bottom: 10rem;
}

#main_img1 {
    width: 100%;
    height: 80%;
    opacity: 80%;
    mask-image: linear-gradient(rgba(0, 0, 0, 1) 70%, transparent);
}

.main__container--box {
    position: absolute;
    height: 500px;
    width: 700px;
    top: 220px;
    right: 64px;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 20px;
    opacity: 80%;
}

.container__box--text {
    font-size: 3.5rem;
    color: #112D4E;
    position: absolute;
    font-weight: 600;
    outline: black;
    line-height: 60px;
  }

.container__box--subtext {
    font-size: 1rem;
    color: #7590c4;
    position: absolute;
    font-weight: 400;
    line-height: 60px;
}



.main__services--text {
    color: #3F72AF;
    font-size: 4rem;
    margin: 2rem;
    text-align: center;
}

.main__services--boxes {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 2rem 14rem;
    margin-bottom: 10rem;

    .main__services_box1 {
        height: 400px;
        width: 500px;
        left: 10%;
        background-color: #DBE2EF;
        padding: 40px 40px;
        border-radius: 20px;
        opacity: 80%;
    }
    
    .main__services_box2 {
        height: 400px;
        width: 500px;
        right: 10%;
        background-color: #DBE2EF;
        padding: 40px 40px;
        border-radius: 20px;
        opacity: 80%;
    }
}

#service__logo1 {
    background-color: #112D4E;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 4rem;
    justify-content: center;
    margin-bottom: 2.5rem;
}

#service__logo2 {
    background-color: #112D4E;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    font-size: 4rem;
    justify-content: center;
    margin-bottom: 2.5rem;
}

.services__text {
    color: #104a61;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2rem;
}

.services__subtext {
    color: #104a61;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: justify;
}

.main__appointment {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin: 2rem 15rem;
    align-items: center;
    justify-self: center;
}

.appointment__img {
    height: 100%;
    width: 100%;
}