<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <script src="/js/user_functions.js" defer></script> 
</head>
<body>
    <h1>User List</h1>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>

        <tr th:each="user : ${users}">
            <td th:text="${user.user_id}">1</td>
            <td th:text="${user.first_name}">John</td>
            <td th:text="${user.last_name}">Doe</td>
            <td th:text="${user.email}">john@example.com</td>
            <td>
                <button th:onclick="'window.location.href=\'/admin/user/' + ${user.user_id} + '\''">More Info</button>


                <button type="button" th:attr="onclick=|delete_user(event, ${user.user_id})|">Delete</button>

            </td>
        </tr>

    </table>
    
        
    <table border="1">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Actions</th>

            <tr th:each="doctor : ${doctors}">
                <td th:text="${doctor.doctor_id}">1</td>
                <td th:text="${doctor.first_name}">John</td>
                <td th:text="${doctor.last_name}">Doe</td>
                <td th:text="${doctor.email}">john@example.com</td>
                <td>
                    <button type="button" th:onclick="'window.location.href=\'/admin/doctor/' + ${doctor.doctor_id} + '\''">More Info</button>
            
                    <button type="button" th:attr="onclick=|delete_doctor(event, ${doctor.doctor_id})|">Delete</button>
            
                </td>
            </tr>
        </tr>
    </table>
</body>
</html>
