<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Affiliate</title>
    <script src="/js/user_functions.js" defer></script> 
    <link rel="stylesheet" href="../static/edit-info.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="edit__container2">
        <h1>Create Affiliate</h1>

        <label for="name">Name: </label>
        <input type="text" id="name" placeholder="Name" class="form__text"><br>

        <label for="address">Address: </label>
        <input type="text" id="address" placeholder="Address" class="form__text"><br>

        <label for="description">Description: </label>
        <input type="text" id="description" placeholder="Description" class="form__text"><br>

    </div>
    <input type="button" id="create__button" onclick="create_affiliate(event)" value="Create">
</body>
</html>