<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/admin-dashboard.js" defer></script>
    <link rel="stylesheet" href="/admin-dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="website__container">

        <!-- Horizontal Navbar Section -->
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo"><i class="fa-solid fa-suitcase-medical"></i> MEDIKEEP </a>
                <ul class="navbar__menu">
                    <li class="navbar__item">
                        <a href="login" class="navbar__links"><i class="fa-solid fa-user-tie"></i>Admin</a>
                    </li>
                    <li class="navbar__item">
                        <a href="signup" class="navbar__links">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="main__container">

            <!-- Vertical Navbar Section -->

            <nav class="vertical-navbar">
                <ul>
                <li><a href="admin-user" class="manage__links">User</a></li>
                <li><a href="admin-doctor" class="manage__links">Doctor</a></li>
                <li><a href="admin-billings" class="manage__links">Billing</a></li>
                <li><a href="admin-all-appointments" class="manage__links">Appointment</a></li>
                <li><a href="admin-affiliates" class="manage__links">Affiliates</a></li>
                </ul>
            </nav>

            <!-- Main Section -->

            <main class="content">
                <h1 id="welcome__admin">Welcome Admin!</h1>
                <p id="welcome__text">Please select function on the left to start.</p>
            </main>
            
        </div>

    </div>


    

</body>
</html>