<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bookDes.css">
    <title>Document</title>
</head>
<body>
    <header class = "headerBox">
        <h2 class = "medikeep">MEDIKEEP</h2>  
        <div class="img">
            <p class = "username">[Belen, James]</p>
            <img src="james.png"> 
        </div>  
    </header>


    <div class = "booking-box">
        <div class="status-box">
            <label class="tracker-item">
                <input type="radio" name="page" checked>
                <span class="dot"></span>
                <p>Page 1</p>
              </label>
            

        </div>

        <div>

        </div>
    </div>

</body>
</html>