<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static//design2ndP.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/navbars.css">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
    </style>
    <!-- [] = place holder -->
</head>

<body>
    <nav class="navbar">
        <div class="navbar__container">
            <a th:href="${role == 'user' ? '/user' : '/doctor'}" id="navbar__logo"><i class="fa-solid fa-suitcase-medical"></i> MEDIKEEP </a>
            <ul class="navbar__menu">
                <li class="navbar__item--home">
                    <a href="/doctor/info" th:text="|${doctor.last_name}, ${doctor.first_name}|" class="navbar__home--links"></a>
                </li>
                <li class="navbar__item--home">
                    <input type="checkbox" id="dropdown-toggle" hidden>
                    <label for="dropdown-toggle" class="navbar__home--links dropdown-toggle">
                        <i class="fa-solid fa-user-tie"></i>
                    </label>
                    
                    <div class="dropdown__menu">
                        <a href="/" class="dropdown__item">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    

    <div class = "firstBox">
        <h1 class = "welcome" th:text="|Welcome back, ${doctor.first_name}|"> Welcome back, [name]</h1>
        <p class = "sched" th:if="${appointments.size > 0}" th:text="|Your next scheduled appointment is in ${appointments[0].appointment_date} at ${appointments[0].appointment_time}|">Your next scheduled appointment is in [date] </p>
        <p class = "sched" th:if="${appointments.size() == 0}">You have no upcoming appointment</p>
            
    </div>

    <div class = "secondBox" th:if="${appointments.size() > 0}">
        <h3 class = "upcoming" th:if="${appointments.size() > 0}">Upcoming Appointment:</h3>
        <p th:text="|Date & Time: ${appointments[0].appointment_date} at ${appointments[0].appointment_time}|">Date & Time: [date & time] <br></p>
        <p th:text="|Patient: ${appointment_user_infos[0].first_name} ${appointment_user_infos[0].last_name}|">Patient: Name<br></p>
        <p th:text="|Appointment Type: ${appointments[0].appointment_type}|"></p>
        <p th:text="|Reason: ${appointments[0].description}|">Reason: [reason of appointment]<br></p>
        
    </div>

    <div class = "secondBox" th:if="${appointments.size() == 0}">
        <h3 class = "upcoming">Upcoming Appointment:</h3>
        <p class="no__appointment">You have no upcoming appointment</p>
       
    </div>
    

    <div class="buttonContainer">
       
        

        <div class="medicalrecords">
            <form action="doctor/appointment">
                <button class="recordsButton">
                    <i class="fa-solid fa-file-medical"></i>
                    <span>View Appointments</span>
                </button>
            </form>
        </div>
    
    
        <div class="chatdoctors">
            <form action="doctor/messages">
                <button class="chat">
                    <i class="fa-solid fa-message"></i>
                    <span>Chat with Patients</span>
                </button>
            </form>
        </div>
    </div>

    <hr style="border: 1px solid #ccc; margin: 20px 80px;">

    <div class="footer-container">
        <div class="left-section">
            <h3 class="bottomTitle">MediKeep</h3>
            <div class="logo-container">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-linkedin"></i>
            </div>
        </div>
    
        <div class="right-section">
            <ul>
                <li><a href="">Topic</a></li>
                <li><a href="">Topic</a></li>
                <li><a href="">Topic</a></li>
                <li><a href="">Topic</a></li>
                <li><a href="">Topic</a></li>
            </ul>
        </div>
    </div>

</body>
</html>