<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/user_functions.js" defer></script>
    <link rel="stylesheet" href="/design2ndP.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="stylesheet" href="/navbars.css">
    <link rel="stylesheet" href="/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div>
        <div class="appointment__box" th:if="${appointments.size() == 0}">
            <h1 class="upcoming">Upcoming Appointments</h1>
            <p class="no__appointment">You have no appointments</p>
        </div>
        <div class="appointment__box" th:if="${appointments.size() > 0}">
            <h1 class="upcoming">Upcoming Appointments</h1>
            
            <div th:each="appointment, index: ${appointments}">
                <div class="appointment__patients" id="appointments">
                    <p th:text="|Appointment ID: ${appointment.appointment_id}|">appointment id</p>
                    <p th:text="|Patient Name: ${users[index.index].first_name} ${users[index.index].last_name}|"></p>
                    <p th:text="|Appointment Date: ${appointment.appointment_date}|">appointment date</p>
                    <p th:text="|Appointment Time: ${appointment.appointment_time}|">appointment time</p>
                    <p th:text="|Appointment Type: ${appointment.appointment_type}|">appointment type</p>
                    <p th:text="|Billing ID: ${appointment.billing_id}|">billing id</p>
                    <p th:text="|Description: ${appointment.description}|">description</p>
                    <p th:text="|Status: ${billings[index.index].status}|">status</p>
                    <p>
                        <input type="button" value="Reschedule" class="doctor__btn" th:onclick="|toggle_appointment(event, 'reschedule-${appointment.appointment_id}', ${appointment.appointment_id})|">
                        <input type="button" value="Cancel" class="doctor__btn" th:onclick="|toggle_appointment(event, 'cancel-${appointment.appointment_id}')|">
                    </p>
                </div>

                <div class="page-section" th:id="|reschedule-${appointment.appointment_id}|" style="display: none;">
                    <h2>Request Reschedule</h2>
                    <form th:id="|request-resched-${index.index}|" th:onsubmit="|reschedule_message(event, ${index.index})|">
                        
                        <input type="text" th:value="${appointment.appointment_id}" th:id="|resched-appointment-id-${index.index}" hidden>
                        <input type="text" th:value="${appointment.doctor_id}" th:id="|doctor-id-${appointment.appointment_id}|" hidden>    

                        <label for="|new-date-${index.index}|">New Date:</label>
                        <input type="date" class="new-date" th:id="|new-date-${index.index}|" name="|new-date-${index.index}|" required><br><br>
                        <label for="|new-time-${appointment.appointment_id}|">New Time:</label>
                        
                        <select class="new-time" th:id="|new-time-${appointment.appointment_id}|" name="|new-time-${appointment.appointment_id}|" required>
                            
                          </select>
                          <br><br>
                        <label th:for="|resched-reason-${index.index}|">Reason for Reschedule:</label><br>
                        <textarea class="resched-reason" th:id="|resched-reason-${index.index}|" th:name="|resched-reason-${index.index}|" rows="4" cols="50" required></textarea><br><br>
                        <input class="submit--btn"type="submit" value="Reschedule Appointment">
                    </form>
                    <input class="cancel--btn" type="button" value="Cancel" onclick="toggle_appointment(event, 'appointments')">
                </div>

                <div class="page-section" th:id="|cancel-${appointment.appointment_id}|" style="display: none;">
                    <h2>Request Cancel</h2>
                    <form th:id="|cancel-form-${index.index}" th:onsubmit="|cancel_message(event, ${index.index})|">
                        <input type="text" th:value="${appointment.appointment_id}|" th:id="|cancel-appointment-id-${index.index}|" hidden>
                        
                        <label th:for="|cancel-reason-${index.index}|">Reason for Cancellation:</label><br>
                        <textarea class="cancel-reason" th:id="|cancel-reason-${index.index}|" th:name="|cancel-reason-${index.index}|" rows="4" cols="50" required></textarea><br><br>
                        <input class="cancellation-cancel" type="submit" value="Cancel Appointment">
                    </form>
                    <input class="cancel--btn" type="button" value="Cancel" onclick="toggle_appointment(event, 'appointments')">
                </div>
            </div>

            
        
            
        </div>
        
    
        
    </div>

    <div id="past-appointments">
        <div th:if="${past_appointments.size() == 0}">
            <h1>You have no past appointments</h1>

        </div>
        <div class="table__container" th:if="${past_appointments.size() > 0}">
            <h3>Past Appointments:</h3>
            <table border="1" class="appointment__table">
                <tr>
                    <th>Appointment ID</th>
                    <th>Patient Name</th>
                    <th>Appointment Date</th>
                    <th>Appointment Time</th>
                    <th>Appointment Type</th>
                    <th>Billing ID</th>
                    <th>Description</th>
                    <th>Status</th>
                </tr>
                <tr th:each="appointment, index: ${past_appointments}">
                    <td th:text="${appointment.appointment_id}">appointment id</td>
                    <td th:text="|${past_appointment_users[index.index].first_name} ${past_appointment_users[index.index].last_name}|"></td>
                    <td th:text="${appointment.appointment_date}">appointment date</td>
                    <td th:text="${appointment.appointment_time}">appointment time</td>
                    <td th:text="${appointment.appointment_type}">appointment type</td>
                    <td th:text="${appointment.billing_id}">billing id</td>
                    <td th:text="${appointment.description}">description</td>
                    <td th:text="${past_billings[index.index].status}">status</td>
                </tr>
            </table>
        </div>
        
    </div>
    

    <script>
        const today = new Date();
        today.setDate(today.getDate() + 1); // Set to tomorrow
        // Create a new Date object for the next year
        const nextYear = new Date();
        nextYear.setFullYear(today.getFullYear() + 1);
    
        const formattedDate = nextYear.toISOString().split('T')[0];
    
        // Set the min and max attributes
        document.querySelectorAll(".new-date").forEach(function(dateInput) {
            dateInput.setAttribute("min", today.toISOString().split('T')[0]); // Tomorrow's date as min
            dateInput.setAttribute("max", formattedDate); // One year from today as max
        });
        
    </script>
</body>
</html>