<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1" class="appointment__table">
        <tr>
            <th>Appointment ID</th>
            <th>Patient Name</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Appointment Type</th>
            <th>Billing ID</th>
            <th>Description</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr th:each="appointment, index: ${appointments}">
            <td th:text="${appointment.appointment_id}">appointment id</td>
            <td th:text="|${users[index.index].first_name} ${users[index.index].last_name}|"></td>
            <td th:text="${appointment.appointment_date}">appointment date</td>
            <td th:text="${appointment.appointment_time}">appointment time</td>
            <td th:text="${appointment.appointment_type}">appointment type</td>
            <td th:text="${appointment.billing_id}">billing id</td>
            <td th:text="${appointment.description}">description</td>
            <td th:text="${billings[index.index].status}">status</td>
            <td>
                <input type="button" value="Reschedule">
                <input type="button" value="Cancel">
            </td>
        </tr>

</body>
</html>