<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/landing.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Navbar Section -->
    <nav class="navbar">
        <div class="navbar__container">
            <a href="/" id="navbar__logo"><i class="fa-solid fa-suitcase-medical"></i> MEDIKEEP </a>
            <div class="navbar__toggle" id = "mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <ul class="navbar__menu">
                <li class="navbar__item">
                    <a href="/login" class="navbar__links">Log In</a>
                </li>
                <li class="navbar__btn">
                    <a href="/signup" class="button">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Main Section -->
    <div class="main">
        <div class="main__container">
            <img src="images/landing_img1.jpg" alt="Doctor" id = "main_img1">
            <div class="main__container--box">
                <div class="container__box--text">HEALTHCARE<br>AT YOUR<br>FINGERTIPS
                    <div class="container__box--subtext">dasfasdufaisfkas</div>
                </div>
            </div>
        </div>
        
        <div class="main__services">
            <h1 class="main__services--text">Our Services</h1>
            <div class="main__services--boxes">
                <div class="main__services_box1">
                    <i class="fa-solid fa-wheelchair-move" id="service__logo1"></i>
                    <div class="services__text">GENERAL CHECKUP</div>
                    <div class="services__subtext">Complete body check-ups that help maintain your health and avoid potential problems</div>
                </div>
                <div class="main__services_box2">
                    <i class="fa-solid fa-heart-pulse" id="service__logo2"></i>
                    <div class="services__text">SPECIALIZED CARE</div>
                    <div class="services__subtext">For specific health concerns, our specialist doctors offer expert treatment.</div>
                </div>
            </div>
        </div>

        <div class="main__appointment">
            <div class="main__appointment--container">
                <h1 class="main__appointment--heading">Schedule your appointment today</h1>
                <p class="main__appointment--text">Booking appointments is one click away. With MediKeep, we assure convenient and<br>
                                                   confidential online appointments with your specialist doctor anytime and anywhere.</p>
                <a href="/login" class="appointment__links--btn"> Book Appointment </a>
            </div>
            <div class="main__appointment--img">    
                <img src="images/appointment_img1.jpg" alt="Doctor appointment" class="appointment__img">
            </div>
            
        </div>

    </div>



    <!-- Footer Section -->
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items1">
                    <h2>About Us</h2>
                    <p>At MediKeep, we believe that everyone deserves a high-quality 
                        healthcare experience. Our team aims to provide a secure and 
                        user-friendly platform for efficient healthcare management.
                    </p>
                    <div class="footer__link--logos">
                        <a href="" class = "footer__logos"><i class="fa-brands fa-facebook"></i></a>
                        <a href="" class = "footer__logos"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
                <div class="footer__link--items2">
                    <h2>Contact Us</h2>
                    <i class="fa-solid fa-phone" id = "phone_logo"><p>+63 9XX XXX XXXX</p></i>
                    <i class="fa-solid fa-envelope" id = "envelope_logo"><p>medikeep@gmail.com</p></i>
                </div>
            </div>
        </div>
    </div>



</body>
</html>