<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/js/user_functions.js" defer></script>
    <link rel="stylesheet" href="/messaging.css">
    <link rel="stylesheet" href="/navbars.css">
    <link rel="stylesheet" href="/bookDes.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Messages</title>
</head>
<body>
    <div class="website__container">


        <!-- Horizontal Navbar Section -->
        <nav class="navbar">
            <div class="navbar__container">
                <a href="/" id="navbar__logo"><i class="fa-solid fa-suitcase-medical"></i> MEDIKEEP </a>
                <ul class="navbar__menu">
                    <li class="navbar__item--home">
                        <a href="login" class="navbar__home--links">[Belen, James]</a>
                    </li>
                    <li class="navbar__item--home">
                        <input type="checkbox" id="dropdown-toggle" hidden>
                        <label for="dropdown-toggle" class="navbar__home--links dropdown-toggle">
                            <i class="fa-solid fa-user-tie"></i>
                        </label>
                        
                        <div class="dropdown__menu">
                            <a href="logout" class="dropdown__item">Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>


        <div class="user--chat__container">
            <nav class="vertical--navbar__chat">
                <label for="recipient">To: </label>
                <div class="receie"id="recipient-div" th:data-role="|${role}|">
                    <div th:each="recipient : ${role == 'doctor' ? users : doctors}">
                        <input type="radio" class="rad-btn" id="recipient-${recipient.id}" name="recipient" 
                            th:value="${role == 'user' ? recipient.doctor_id : recipient.user_id}" 
                            th:text="|${recipient.first_name} ${recipient.last_name}|"
                            th:onchange="|filterMessages(${id})|" />
                        <label class="user-doctor-chat" for="recipient-${recipient.id}" th:text="|${recipient.first_name} ${recipient.last_name}|"></label><br>
                    </div>
                </div>
            </nav>
            
            <div class="messaging__container--wrapper">
                <div class="messaging__container">
                    <div class="messages--scrollable">
                        <div th:if="${messages.size() > 0}">
                            <ul id="messages-list">
                                <li th:each="message : ${messages}" style="display: none;" th:class="${(message.message_type == 'u-d' && role == 'user') || (role == 'doctor' && message.message_type == 'd-u') ? 'right' : 'left'}" th:attr="data-sender-id=${message.sender_id}, data-receiver-id=${message.receiver_id}, data-message-type=${message.message_type}" th:text="${message.message}"></li>
                            </ul>
                        </div>
                        <div th:if="${messages.size() == 0}"> 
                            <p class="no-message">No messages available.</p>
                        </div>
                    </div>
                        
                        <div class="message--input">
                            <input  type="text" id="message" name="message" placeholder="Write your message here...">
                            <input  type="button" value="Send" id="send__button" th:data-role="${role}" th:attr="onclick=|send_message(event, ${id})|">    
                        </div>
                        
                        <br><br>
                    
                </div>
            </div>
        </div>
    </div>
</body>
</html>