<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/user_functions.js" defer></script>
</head>
<body>
    <form id="user_form" onsubmit="create_user(event)">
        <label for="last_name">Last Name:</label>
        <input type="text" id="last_name" name="last_name" required>
        <br><br>
        <label for="first_name">First Name:</label>
        <input type="text" id="first_name" name="first_name" required>
        <br><br>
        <label for="middle_name">Middle Name:</label>
        <input type="text" id="middle_name" name="middle_name">
        <br><br>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br><br>
        <label for="sex">Sex:</label>
        <label for="male">Male:</label>
        <input type="radio" name="sex" id="male" value="M" required>
        <label for="female">Female:</label>
        <input type="radio" name="sex" id="female" value="F" required>
        <br><br>
        <label for="birth_date">Birth Date:</label>
        <input type="date" id="birth_date" name="birth_date" required>
        <br><br>
        <label for="role">Role</label>
        <select name="role" id="role">
            <option value="User">User</option>
            <option value="Doctor">Doctor</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>