<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:inline="javascript">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/js/user_functions.js" defer></script>
</head>
<body>
    <div class="page-section" id="appointments">
        <table border="1" class="appointment-table">
            <tr>
                <th>Appointment ID</th>
                <th>Doctor Name</th>
                <th>Appointment Date</th>
                <th>Appointment Time</th>
                <th>Appointment Type</th>
                <th>Billing ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            <tr th:each="appointment, index: ${appointments}">
                <td th:text="${appointment.appointment_id}">appointment id</td>
                <td th:text="|${doctors[index.index].first_name} ${doctors[index.index].last_name}|"></td>
                <td th:text="${appointment.appointment_date}">appointment date</td>
                <td th:text="${appointment.appointment_time}">appointment time</td>
                <td th:text="${appointment.appointment_type}">appointment type</td>
                <td th:text="${appointment.billing_id}">billing id</td>
                <td th:text="${appointment.description}">description</td>
                <td th:text="${billings[index.index].status}">status</td>
                <td>
                    <input type="button" value="Request Reschedule" th:onclick="|toggle_appointment(event, 'reschedule', ${appointment.appointment_id})|">
                    <input type="button" value="Request Cancel" th:onclick="|toggle_appointment(event, 'cancel', ${appointment.appointment_id})|">
                </td>
            </tr>
        </table>
    </div>
        
    <div class="page-section" id="reschedule" style="display: none;">
        <h2>Request Reschedule</h2>
        <form id="request-resched" onsubmit="request_reschedule_message(event)">
            
            <input type="text" id="resched-appointment-id" hidden>
            <input type="text" id="resched-id" hidden>
            <label for="new-date">New Date:</label>
            <input type="date" id="new-date" name="new_date" required><br><br>
            <label for="new-time">New Time:</label>
            <input type="time" id="new-time" name="new_time" required><br><br>
            <label for="resched-reason">Reason for Reschedule:</label><br>
            <textarea id="resched-reason" name="resched-reason" rows="4" cols="50" required></textarea><br><br>
            <input type="submit" value="Submit Request">
        </form>
        <input type="button" value="Cancel" onclick="toggle_appointment(event, 'appointments')">
    </div>

    <div class="page-section" id="cancel" style="display: none;">
        <h2>Request Cancel</h2>
        <form id="cancel-form" onsubmit="request_cancel_message(event)">
            <input type="text" id="cancel-appointment-id" hidden>
            <input type="text" id="cancel-id" hidden>
            <label for="cancel-reason">Reason for Cancellation:</label><br>
            <textarea id="cancel-reason" name="cancel-reason" rows="4" cols="50" required></textarea><br><br>
            <input type="submit" value="Submit Request">
        </form>
        <input type="button" value="Cancel" onclick="toggle_appointment(event, 'appointments')">
    </div>

    <script>
        const today = new Date();
        today.setDate(today.getDate() + 1); // Set to tomorrow
        // Create a new Date object for the next year
        const nextYear = new Date();
        nextYear.setFullYear(today.getFullYear() + 1);
    
        const formattedDate = nextYear.toISOString().split('T')[0];
    
        // Set the min and max attributes
        document.getElementById("new-date").setAttribute("min", today.toISOString().split('T')[0]); // Today's date as min
        document.getElementById("new-date").setAttribute("max", formattedDate); // One year from today as max
    </script>
    
</body>
</html>